 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Andrew spends his time crushing it, simple as that. Whether he's upping some marks, scripting some java, or riding that style cascade, Andrew makes magic happen. Performant, semantic, accessible, Sassy, component-driven, and several other words can all be used to describe his front enditude.</p>
                </div>
                <div class="col-lg-4">
                    <p>When he's not busy crushing it professionally, you can be sure he's crushing it in his personal life. Walks in the park, technological tinkering, whispering to animals, appreciating art, music, and film (as well as Oxford commas) are just a few of the things you can find him doing. Unless he sees you first!</p>
                </div>
            </div>
        </div>
    </section>